.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  padding: 0;
}
.SideBar {
  height: auto;
  width: 300px;
  background-color: #2F4050;
}
.sidebarList {
  height: auto;
  width: 100%;
  padding:0;
  margin-top: 5px;
}
.sidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sidebarList .row:hover {
  cursor: pointer;
  background-color: #293646;
}
.row #icon {
  flex: 30%;
  display: flex;
  justify-content: space-around;
}
.row #title {
  flex: 70%;
}
.sidebarList #active {
  background-color: tomato;
}

.customHeader {
  /* background-color: #272627; */
  background-color: #156EAC;
  height: 60px;
  color: white;
  margin:0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.customHeader img {
  max-height: 70%;
  max-width: auto;
}
.bodyPart {
  margin: 0;
  padding:0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}
.playGround {
  flex-grow: 1;
}

.topic-color{
  color: whitesmoke;
}
.form-background {
  background-color: #156EAC;
}
.blank-space-filler {
  /* background-color: lavender; */
}
#auth {
  background-color: white;
}
#patient {
  background-color: #ecf7fc ;
}
#nurse {
  background-color: #f6fef6 ;
}